'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Color Namer'
      'submenu': [
        {
          'label': 'Show'
          'command': 'colorname:show'
        }
      ]
    ]
  }
]
