'.platform-darwin atom-text-editor':
  'cmd-alt-n': 'colornamer:show'

'.platform-win32 atom-text-editor':
  'ctrl-shift-n': 'colornamer:show'

'.platform-linux atom-text-editor':
  'ctrl-shift-n': 'colornamer:show'
