@import 'ui-variables';

.colornamer{
  .colornamer__label {
    margin: 0;
    padding: @component-padding;
  }

  .colornamer__error-message {
    display: none;
    padding: @component-padding;
    color: @text-color-error;
  }
}
